src/XML/schemas/userSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/userSchema" xmlns:tns="http://www.example.org/userSchema" elementFormDefault="qualified">

    <element name="users" type="tns:user"></element>
    
    <complexType name="user">
    	<sequence>
    		<element name="name" type="string"></element>
    		<element name="status" type="string"></element>
    		<element name="key" type="string"></element>
    	</sequence>
    </complexType>
</schema>
